@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

html,body {

    margin:0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;	
}

.header_area .main-menu .navbar .navbar-brand {
	padding:0 2rem 0 3rem;
}
.header_area .main-menu .navbar {
	padding: 1rem 4rem;
}
.header_area .main-menu .nav-item .nav-link {
	font-size:25px;
    font-weight:300;
	padding:1.5rem;
	color: white;
}
.nav-link {
    position: relative;
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: goldenrod;
    position: absolute;
    bottom: 0;
    left:0;
}
.nav-link:hover::after {
    opacity: 1;
}
 span {
    color:goldenrod;
 }
 

 .animate__animated.animate__backInRight{
    --animate-duration: 4s;
  }
  
  .animate__animated.animate__backInLeft{
    --animate-duration: 4.2s;
  }
  .animate__animated .animate__bounceInDown {
    --animate-duration: 8s;
  }
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
  .card {
    transition: all 0.3s;
  }
  .card:hover {
    transform: scale(1.15);
  }